Resources/Synapse/pipeline/Pl_Master_Fact_StagingToLanding.json
{
	"name": "Pl_Master_Fact_StagingToLanding",
	"properties": {
		"activities": [
			{
				"name": "Get_Fact_SPs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select sc.name +'.'+ pr.name as proc_name \nfrom sys.procedures pr \nleft outer join sys.parameters p \non pr.object_id = p.object_id \ninner join sys.schemas sc \non pr.schema_id = sc.schema_id \nwhere p.name is null \nand sc.name = 'dbo'\nand pr.name like '%LoadFact%'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSynapseServerlessDatabase_Azure",
						"type": "DatasetReference",
						"parameters": {
							"DBName": {
								"value": "@pipeline().parameters.DBName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachSP",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_Fact_SPs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Fact_SPs').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Create_Fact_Files_Landing",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": {
										"value": "@item().proc_name",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSynapseServerlessDatabase_Azure",
									"type": "DatasetReference",
									"parameters": {
										"DBName": {
											"value": "@pipeline().parameters.DBName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureBlobStorage_Parquet_Azure",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat(substring(item().proc_name,11,sub(length(item().proc_name),11)),'_',utcnow(),'.parquet')\n\n\n",
											"type": "Expression"
										},
										"RelativePath": {
											"value": "@concat(pipeline().parameters.MainCuratedFolder,'/',substring(item().proc_name,11,sub(length(item().proc_name),11)))",
											"type": "Expression"
										},
										"StorageAccountContainerName": "landing"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"MainCuratedFolder": {
				"type": "string",
				"defaultValue": "FinanceMart"
			},
			"DBName": {
				"type": "string",
				"defaultValue": "StagingDB-dev"
			}
		},
		"folder": {
			"name": "ZZ Pl Template/3 Pl_Master/Pl_Child"
		},
		"annotations": []
	}
}